<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972893135954-pgqna0gpoq2kpchvgt8rjn75enj8ch3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972893135954-pgqna0gpoq2kpchvgt8rjn75enj8ch3l</string>
	<key>API_KEY</key>
	<string>AIzaSyD7hbS8RnuI1SXL5bV2WhGD1Ic6mhMl92I</string>
	<key>GCM_SENDER_ID</key>
	<string>972893135954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uavapp</string>
	<key>PROJECT_ID</key>
	<string>uavapp-69420</string>
	<key>STORAGE_BUCKET</key>
	<string>uavapp-69420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972893135954:ios:3306f5614cd72f97f1ab8b</string>
</dict>
</plist>